@model world4admin.ua.Models.empClass
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>empClass</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.gid)
    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.fugitive_status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fugitive_status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fugitive_status, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.general_info, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.general_info, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.general_info, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.entry_doc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.entry_doc, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.entry_doc, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.reg_doc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.reg_doc, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.reg_doc, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.transport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.transport, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transport, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.housing, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.housing, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.housing, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.nutrition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.nutrition, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nutrition, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.pets, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.pets, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pets, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.charity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.charity, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.charity, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.add_info, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.add_info, 20, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.add_info, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    .input {
        border-radius: 3px;
    }
    a {
        background-color: #2256a3c7;
        color: white;
        padding: 5px 5px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
        width: 10%;
    }

        a:hover {
            background-color: #4472b5dd;
            cursor: pointer;
        }

        a:active {
            box-shadow: none;
            top: 5px;
        }
    btn btn-default {
        background: #2256a3c7;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
    }
    .label {
        font-size:14px;
    }

</style>